if SHIELD_SOLARPLEXUS_LEFT

config ZMK_KEYBOARD_NAME
    default "solarPlexus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SOLARPLEXUS_LEFT || SHIELD_SOLARPLEXUS_RIGHT

config ZMK_SPLIT
    default y

endif